@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap);


html{
    scroll-behavior: smooth;
}

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat', sans-serif;
    background-attachment: fixed; 
}

body{
    background-image: url(../imagens/fundo.jpg);
    background-attachment: fixed;  
    background-size: cover;
    background-color: black;
}

header{
    position: fixed;
    width: 100%;
    top:0;
    z-index: 1;
}

footer{
    color:black;
    width: 100%;
    padding: 1px;
    bottom:0;
    z-index: 1;
}

footer #rodape{
    color:black;
    margin-right: 10%;
    margin-left: 10%;
    bottom:0;
}

p{
    text-indent: 2em;
    margin-left:5%;
    margin-right:5%;
    text-align: justify;
    font-size: 16px;
}

h1{
    font-size: 20px;
}

h5{
    font-size: 20px;
}

form{
    margin-left:10%;
    margin-right:10%;
    width: 300px;
}


form button{
    margin-left: 25%;
    margin-right: 25%;
}

video{
    margin-left: 10%;
    margin-right: 10%;
}
#instrucao,#instrucao2,#instrucao3{
    width: 590px;

}

#acao1{
    float: left;
    width: 380px;
    bottom:0;
    display: inline-flex;
}


#video{
    width: 590px;
}


#apresentacao1,#apresentacao2,#apresentacao3,#apresentacao4,#apresentacao5,#apresentacao7,#apresentacao8#apresentacao9#apresentacao10{
    margin-top:10%;
    margin-bottom:5%;
    margin-left:10%;
    margin-right:10%;
    background-color: lightgray;
}

#apresentacao4 p,h5{
    color:black;
    text-indent: 0em;
    padding-left: 50px;
    padding-right: 50px;
}

#apresentacao4 img{
    height:100%;
    width: 100%;
}

#apresentacao4 a{
    z-index:0;
}

#apresentacao5 #imagem1{
    display: inline-flex;
    width: 23%;
    margin-left: 10%;
}

#apresentacao5 #imagem2{
    display: inline-flex;
    width: 23%;
    margin-left: 10%;
}

#apresentacao5 #imagem3{
    display: inline-flex;
    width: 23%;
    margin-left: 10%;
}


#apresentacao5 #imagens{
    display: inline;
}

#referencia{
    margin-top: 5%;
    display: inline-flex;
    width: 23%;
    margin-left: 5%;
    margin-right: 5%;
}

#apresentacao5 #imagem1,#imagem2,#imagem3:hover{
    cursor:pointer;
}

#icon_lol{
    border-radius: 25px;
}

#navbarNav{
    display: flex;
    justify-content: space-evenly;
}

#rodape{
    text-align: center;
}

#espaco_em_branco{
    margin-left: 800px;
}

#drop1{
    margin-right: 20px;
}

.referencia{
    display: inline-block;
}

.comentario{
    left: 0;
    height: 130px;
    width: 100%;
    bottom:0;
    background-color: #f7f7f7;
    z-index: 0;
}

.carousel-inner{
    justify-content: center;
}


@media screen and (max-width: 590px) {


#apresentacao1,#apresentacao2,#apresentacao3,#apresentacao4,#apresentacao5,#apresentacao6,#apresentacao7,#apresentacao8,#apresentacao9,#apresentacao10{
    margin-top:100px;
}

#apresentacao1 h1{
    font-size: 18px;
}

#apresentacao2 h1{
    font-size: 18px;
}

#apresentacao3 h1{
    font-size: 18px;
}

#apresentacao4 h1{
    font-size: 18px;
}

#apresentacao5 h1{
    font-size: 18px;
}

#apresentacao6 h1{
    font-size: 18px;
}

#apresentacao7 h1{
    font-size: 18px;
}


#apresentacao1 p {
    margin-left:5%;
    margin-right:5%;
    font-size: 16px;
}

#apresentacao2 p {
    margin-left:5%;
    margin-right:5%;
    font-size: 16px;
}

#apresentacao3 p {
    margin-left:5%;
    margin-right:5%;
    font-size: 16px;
}

#apresentacao5 p {
    margin-left:5%;
    margin-right:5%;
    font-size: 16px;
}

#apresentacao6 p {
    font-size: 16px;
}

#apresentacao5 #imagens{
    display: block;
    margin-left:20%;
    margin-right:10%;
    margin-bottom:10%;
    
}

#apresentacao5 #imagem1{
    width: 15px;
}

#apresentacao5 #imagem2{
    width: 15px;
}

#apresentacao5 #imagem3{
    width: 15px;
}

#apresentacao6{
    width: 100%;
}

#apresentacao6 input{
    width: 280px;
}

#apresentacao6 #texto{
width: 280px;
}

#apresentacao6 button{
    display:block;
    margin-left: 30px;
    margin-right: 30px;
}

#video{
    width: 15px;
    height: 30px;
}

#referencia{
    margin-left:5%;
    margin-top:15%;
    margin-right:5%;
    font-size: 16px;
    display: block;
    width: 90%;
}



#rodape{
    margin-right: 10px;
    margin-left: 10px;
}

.comentario{
    visibility: hidden;
}


}

@media screen and (max-height: 490px) {


    #apresentacao1,#apresentacao2,#apresentacao3,#apresentacao4,#apresentacao5,#apresentacao6,#apresentacao7,#apresentacao8,#apresentacao9,#apresentacao10{
        margin-top:100px;
    }
    
    #apresentacao1 h1{
        font-size: 22px;
    }
    
    #apresentacao2 h1{
        font-size: 22px;
    }

    #apresentacao3 h1{
        font-size: 22px;
    }

    #apresentacao4 h1{
        font-size: 22px;
    }
    
    #apresentacao5 h1{
        font-size: 22px;
    }

    #apresentacao1 p {
        margin-left:5%;
        margin-right:5%;
        font-size: 16px;
    }
    
    #apresentacao2 p {
        margin-left:5%;
        margin-right:5%;
        font-size: 16px;
    }

    #apresentacao3 p {
        margin-left:5%;
        margin-right:5%;
        font-size: 16px;
    }

    #apresentacao5 p {
        margin-left:5%;
        margin-right:5%;
        font-size: 16px;
    }

    #icon_lol,#icon_rio,#icon_wiki{
        width: 120px;
        margin-left: 10%;
        margin-right: 10%;
    }
    
    #apresentacao5 #imagem1,#imagem2,#imagem3{
        display: inline-flex;
        width: 20%;
        margin-left: 20px;
    }
    
    #referencia{
        display: inline-flex;
        width: 20%;
        margin-left: 5%;
        margin-right: 5%;
    }
    
    #imagensAcao{
        margin-left:10%;
        margin-right:10%;
    }

    #icone2{
        width: 20px;
    }
    
    .comentario{
        visibility: hidden;
    }
    





}